<header>
    <div class="header-content ">

        <div class="container-fluid">
<div class="row">
    <div class="col-lg-12 padding">
        <div class="menu pt-3">
            <div class="pos-f-t">

                <nav class="navbar navbar-dark bg-dark sticky1" >
                    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </nav>
                <div class="collapse show" id="navbarToggleExternalContent">
                    <div class="bg-dark padding2 shadow">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Link for display <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vary vary Long Link for d...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link for display </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vary vary Long Link for d...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link for display </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vary vary Long Link for d...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vary vary Long Link for d...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vary vary Long Link for d...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vary vary Long Link for d...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link for display </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link for display </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link for display </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vary vary Long Link for d...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vary vary Long Link for d...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link for display </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link for display </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link for display </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vary vary Long Link for d...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vary vary Long Link for d...</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
            <div class="logo-content clearfix mt-2">
            <div class="logo">
                <span>Company logo</span>
            </div>
                <div class="dropdown text-right ">
                    <a class="btn btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">ru</a>
                        <a class="dropdown-item" href="#">eng</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</header>